body {
  background-color: rgb(231, 78, 78);
  margin: 0;
  font-family: 'Rubik', sans-serif;
  position: relative; 
 
  
}



.navigation {
  overflow: hidden;
  background-color: rgb(231, 78, 78);
  color: white;
  font-family: 'Rubik', sans-serif;
  
}

.logo {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  margin-top: 30px;
}

.menu {
  float: right;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  margin-top: 30px;
 

}
.menu-item {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

.menu-item:hover {
  color: rgb(233, 213, 33)
}
.hero {
  background-color: rgb(231, 78, 78);
  height: 100%;
  display: flex;
}

.bigpizza {
  width: 50%

}

.hero-text {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 100px;

}

.inyour {
  margin-left: 60px;
}

.social-media{
  background-color: rgb(231, 78, 78);
  position: absolute;
  right: 0;

 
}
.social-item {
  margin-right: 10px;
  padding: 5px;
  
}

.last {
  margin-right: 50px;
}


.new-flavours-title {
 margin-bottom: 0;
  text-transform: uppercase;
  color: rgb(70, 13, 134);
  text-align: center;
  padding-top: 40px;
  background-color:  rgb(238, 208, 72);
  font-weight: bold;
}
.carousel {
  
  background-color:  rgb(238, 208, 72);
}


.carousel-box {
  margin-top: 50px;
  width: 100px;
  height: 200px;
}

.new-flavour-img {
  width: 150px;
  height: 150px;
}

.new-flavours-subtitle {
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}