body {
  background-color: rgb(231, 78, 78);
  margin: 0;
  font-family: 'Rubik', sans-serif;
  position: relative; 
 
  
}



.navigation {
  overflow: hidden;
  background-color: rgb(231, 78, 78);
  color: white;
  font-family: 'Rubik', sans-serif;
  position: fixed;
  z-index: 2;
  width: 100%;
  
  
}

.logo {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 30px;

}

.menu {
  float: right;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  margin-top: 35px;

 

}
.menu-item {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

.menu-item:hover {
  color: rgb(233, 213, 33)
}
.hero {
  background-color: rgb(231, 78, 78);
  height: 100%;
  display: flex;
  padding-top: 100px;
}

.bigpizza {
  width: 50%

}

.hero-text {
  font-size: 70px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 100px;
  margin-left: 30px;

}

.inyour {
  margin-left: 60px;
}

.social-media{
  background-color: rgb(231, 78, 78);
  position: absolute;
  right: 0;
  margin-top: 8px;

 
}
.social-item {
  margin-right: 10px;
  padding: 5px;
  
}

.last {
  margin-right: 50px;
}


.new-flavours-title {
 margin-bottom: 0;
  text-transform: uppercase;
  color: rgb(70, 13, 134);
  text-align: center;
  padding-top: 40px;
  background-color:  rgb(238, 208, 72);
  font-weight: bold;
}
.carousel {
  
  background-color:  rgb(238, 208, 72);
  padding-bottom: 20px;
}


.carousel-box {
  margin-top: 50px;
  width: 100px;
  height: 200px;
  margin-bottom: 50px;
}

.new-flavour-img {
  width: 150px;
  height: 150px;
}

.new-flavours-subtitle {
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.footer {
  background-color:  rgb(231, 78, 78);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  
}

.footer-text {
  margin-left: 30px;
}

.name-footer {
  font-weight: bold;
}


.franchise {
  background-color: rgb(70, 13, 134); 
  height: 80px;
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 700;

}

.hours {
  max-width: 300px;
  margin-right: 30px;
  
}

.hours-title {
  font-weight: bold;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 20px;
  background-color: rgb(231, 78, 78);;
  
}

.card {
  position: relative;
  width: 400px;
 text-align: center;
  flex: 0 0 auto;         
  display: flex;        
  flex-direction: column; 
  margin-top: 20px;
  padding: 50px;
  padding-bottom: 20px;
  margin-left: 30px;
  border: 2px solid rgb(231, 78, 78) !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.507);
  margin-bottom: 30px;
  
}

.card-img {
  width: 100px;
 
}

.card-title {
font-size: 30px;
margin-top: 20px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter > button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgb(231, 78, 78);
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  margin: 5px;
  
}

.counter > button:hover {
  background-color: rgb(238, 208, 72);
  color: black;
}

.counter > button:focus {
  outline: none;
}

.counter--count {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  
}


.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
}

.menu-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
 color: white;
 padding-top: 30px;
  background-color: rgb(231, 78, 78);
  margin: 0;
}

.price {
  font-size: 25px;
  color: rgb(231, 78, 78);
  font-weight: bold;

}